*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
/* body{
    background-image: url('https://doccure.dreamstechnologies.com/react/template/6d8b066dbd337a1e3b7d.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
} */
  